nupkg/

coverage/*
!coverage/.gdignore

.godot/
bin/
obj/
.generated/
.vs/
.DS_Store

*.translation

# Wwise
.backup*
.hidden*
*.akd
*.teacher
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
