nupkg/

coverage/*
!coverage/.gdignore

.godot/*
!.godot/
!.godot/global_script_class_cache.cfg
!.godot/imported/
bin/
obj/
.generated/
.vs/
.DS_Store
.tmp
.import/

*.translation

# Wwise
.backup*
.hidden*
*.akd
*.teacher
*.validationcache
*.wsettings
AkWwiseProjectData.asset
IncrementalSoundBankData.xml
*.sln.DotSettings.user
